@charset "UTF-8";
/* CSS Document */
html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
#dimScreen{
	position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.50);
	z-index: 100;
}
#camera, #camera--view, #camera--sensor, #camera--output{
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#camera--trigger{
    width: 200px;
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 50px;
    border: none;
    padding: 15px 15px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    position: relative;
    bottom: 30px;
    left: calc(50% - 100px);
	z-index: 200;
}
img{
	background-color: transparent;
	border: none;
	/*height: 90%;*/
}
#video_overlays {
 position: absolute;
  top: 0;
  bottom: 5%;
  left: 0;
  width: 100%;
  height: 100%;
  
  z-index: 150;
}

#form{
	position:relative;
	top: 800px;
	width: 70%;
	
	z-index: 200;
	
}


@media only screen and (orientation:portrait){

  #video_overlays {

    height: 100vw;
	
	top: 10%;

    -webkit-transform: rotate(90deg);

    -moz-transform: rotate(90deg);

    -o-transform: rotate(90deg);

    -ms-transform: rotate(90deg);

    transform: rotate(90deg);

  }
  #camera--trigger {
	top: 40%;
	left: -10%;
	height: 80px;
	width: 80px;
	font-size: 12px;
	padding: 5px 5px;

  }
	#form{
	
	position:relative;
	top: 700px;
	width: 70%;
	-webkit-transform: rotate(90deg);

    -moz-transform: rotate(90deg);

    -o-transform: rotate(90deg);

    -ms-transform: rotate(90deg);

    transform: rotate(90deg);

	}
}

@media only screen and (orientation:landscape){

  #video_overlays  {

    width: 70%;
	left: 20%;
	top: 5%;
	padding-bottom: 20px;

     -webkit-transform: rotate(0deg);

     -moz-transform: rotate(0deg);

     -o-transform: rotate(0deg);

     -ms-transform: rotate(0deg);

     transform: rotate(0deg);

  }
  #camera--trigger {
	left: -20%;
	top: 40%;
	height: 80px;
	width: 80px;
	font-size: 12px;
	padding: 5px 5px;
	
}
	img{
		left: 5%;
	}
	
	#form{
	
	position:relative;
	/* top: 350px;*/
	width: 100%;
	
	-webkit-transform: rotate(0deg);

     -moz-transform: rotate(0deg);

     -o-transform: rotate(0deg);

     -ms-transform: rotate(0deg);

     transform: rotate(0deg);
	}

}
.taken{
    height: 100px!important;
    width: 100px!important;
    transition: all 0.5s ease-in;
    border: solid 3px white;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    top: 20px;
    right: 20px;
    z-index: 2;
}

